* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

html {
    margin: 0 auto;
}

/*HEADER STYLING*/

header {
    background-color: #eee;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

#siteLogo {
    margin: 20px;
}

#dropMenu {
    margin: 20px;
    float: right;
}

#dropMenuImg {
    width: 200px;
}

#dropMenuContent {
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: #ececec;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

#dropMenuContent ul {
    border-top: 2px solid #aaa;
}

#dropMenuContent ul li {
    text-align: center;
    border-bottom: 2px solid #aaa;
    padding: 20px;
}

#dropMenuContent ul li a {
    text-decoration: none;
    font-size: 60px;
    color: black;
}

/*BODY STYLING*/

body {
    background-color: white;
}

#mainColumns {

}

#mainColumns div {
    background-color: #eee;
    padding: 200px;
    margin: 75px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}
