* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.hide {
	display: none;
}

.float_left {
	float: left;
}

.float-right {
	float: right;
}

body {
	font-family: "Indie Flower", Serif, Arial, Helvetica;
	background-color: #bbb;
}

a {
	text-decoration: none;
	color: black;
}

.menu {
	font-size: 125px;
	text-align: center;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	margin: 125px 75px 0 75px;

	-webkit-box-shadow: 0px 10px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 7px 0px rgba(0,0,0,0.75);
}

.menu div {
	border: 2px solid black;
	border-radius: 5px;
	background-color: #bbb;
	margin: 150px;
	padding: 25px;

	-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

.menu div p {
	margin-top: 5px;
}

/*STARTUP MENU*/
#title {
	font-size: 150px;
	text-align: center;
	margin-top: 125px;
}

/*START PAGE*/
#start_page {
	margin-top: 45px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 20px;
}

#start_page p {
	line-height: 120px;
	margin-bottom: 20px;
	font-size: 100px;
	margin: 0 10px 0 10px;
}

#start_game {
	font-family: serif;
	margin-top: 50px;
	margin-left: 65px;
	font-size: 125px;
}

#start_game a p {
	padding: 0 20px 10px 20px;
	border: 5px solid black;
	border-radius: 100px;
}

#start_page_special_margin {
	margin-right: 600px;
}

/*SETTINGS MENU*/
#settings_title {
	font-size: 125px;
	text-align: center;
	margin-top: 50px;
}

#settings_menu {
	margin-top: 60px;
}

#settings_menu div {

}

/*CREDITS MENU*/
#credits_title {
	font-size: 125px;
	text-align: center;
	margin-top: 50px;
}

#credits_menu {
	margin-top: 50px;
}

#credits_menu div {
	margin: 100px;
	padding: none;
}

#credits_menu div p:first-child {
	font-size: 100px;
}

#credits_menu div p:last-child {
	font-size: 80px;
	margin-top: 20px;
}

/*BACK BUTTON*/
.back {
	font-style: italic;
	font-size: 100px;
	margin: 10px;
}
